:root {
  font-family: IBM Plex Sans, sans-serif;

  color: black;
  background-color: #fff;
/* 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

button {
  font-family: IBM Plex Sans, sans-serif;
}


@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }
}
